.center-image{
    width: 500px;
}

body{
    width: 100%;
}

body * {
    margin-bottom: 30px;
}

h1 {
    text-align: center;
}

img{
    float: right;
}

ul {
    width: 400px;
    float: left;
}

iframe{
    margin: 100px 100px 0 100px
}

section {
    margin-bottom: 50px;
    width: 80%;
    margin-left: 10%;
}