body,
body *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background-image: url(../img/42b21aec-a4eb-11ea-900a-0a586477e108_archie_s_burger_close_up.avif);
    background-size: cover;
    overflow: hidden;
}

body .container {
    width: 700px;
    font-size: 0;
    background-color: hsla(0, 0%, 100%, 0.54);
    border-radius: 9px;
    margin-left: calc(50% - 350px);
    margin-top: 150px;
}

.container>div{
    display: inline-block;
    width: 290px;
    margin: 20px 30px;
    background-color: hsla(131, 100%, 68%, 0.54);
    border-radius: 7px;
    padding: 15px;
}

.container>div:nth-child(2) {
    background-color: hsla(59, 100%, 56%, 0.54);
}

.container>div p {
    font-size: 1rem;
    /* text-align: left; */
}

.container>div p:first-child {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
}